<div class="list-container">
    <div *ngFor="let tour of tours" class="list-item">
        <div class="list-item-img">
            <img [alt]="tour.name" src="https://material.angularjs.org/material2_assets/ngconf/Mal.png">
            <div class="list-item-hover">
                <div class="list-item-action-block">
                    <md-icon-button class="list-item-action">
                        <md-icon>visibility</md-icon>
                    </md-icon-button>
                    <md-icon-button class="list-item-action">
                        <md-icon>edit</md-icon>
                    </md-icon-button>
                    <md-icon-button class="list-item-action">
                        <md-icon>delete</md-icon>
                    </md-icon-button>
                </div>
            </div>
        </div>
        <div class="list-item-text">
            <span class="list-item-text-header">{{tour.name}}</span>
            <span class="list-item-text-details"> 
                {{tour.description}}
            </span>
        </div>

    </div>
</div>