.list-container{
  display: flex;
  flex-flow: column;
}

.list-item{
  display: flex;
  flex-flow: row;  
}

@media screen and (max-width: 554px) {
    .list-item{
       flex-flow: column;
    }
}

.list-item-hover {
    position: absolute;
    z-index: 10;
    display: block;
    width: 100%; 
    height:100%;
    top:0; left:0;
    background-color: rgba(0,0,255,0.2);
    opacity: 0;
    transition: all 0.2s;
    -webkit-transition: all  0.2s;  
}

.list-item:hover .list-item-hover{
  opacity: 1;
}


.list-item:hover .list-item-text{
    background-color: rgba(0,0,255,0.2);
}


.list-item-img{
  min-height: 200px;  
  height: 200px;   
  min-width: 350px;  
  width: 350px;  
  padding: 4px;
  position:relative;
}

@media screen and (max-width: 554px) {
    .list-item-img{
      min-height: auto;  
      height: auto;   
      min-width: 100%;  
      width:  100%;     
    }
}


.list-item-img > img {
  width:  100%;
  height: 100%;
}

.list-item-text {
}


.list-item-action-block {
  padding: 8px;
  display: none;
}

.list-item:hover .list-item-action-block {
  display: flex;
  flex-flow: column;
}

.list-item-action {
  background:rgba(0,0,255,0.0);
  border: 0px;
  color: #DDDDDD;
  width: 48px;
  height: 48px;  
  padding: 8px;
  border-radius: 50%;
}

.list-item-action:hover {
  cursor: pointer;
  color: #9c27b0;
  background:rgba(255,255,255,0.6);
}

:host .material-icons{
  font-size: 36px;
  width: 36px;
  height: 36px; 
  padding: 6px; 
} 

:host .list-item-action:hover .material-icons{
  font-size: 48px;
  width: 48px;
  height: 48px;  
  padding: 0px;  
} 

.list-item-text{
  display: flex;
  flex-direction: column;    
  overflow: hidden; 
}

.list-item-text-header{
  font-size: 32px;
  height: 40px; 
  overflow: hidden; 
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  -moz-box-orient: vertical;
  -webkit-line-clamp: 1;
  -moz-line-clamp: vertical;  
  text-overflow: ellipsis;
}

@media screen and (max-width: 768px) {
    .list-item-text-header{
      font-size: 24px;
      height: 32px;        
    }
}

.list-item-text-details{
  font-size: 16px;
  line-height: 1.5;
  height: 144px; 
  overflow: hidden; 
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  text-overflow: ellipsis;
}

@media screen and (max-height: 554px) and (max-width: 554px){
    .list-item-text-details{
        display: none;    
    }
}

