<div class="tour">
    <div class="action-block-container">
        <div class="action-block">
            <a class="action" [routerLink]="['/tour/preview', tour.id]">
                <md-icon>visibility</md-icon>
            </a>
            <a class="action" [routerLink]="['/tour/edit', tour.id]">
                <md-icon>edit</md-icon>
            </a>
            <button md-icon-button class="action" (click)="onDelete(tour)">
                <md-icon>delete</md-icon>
            </button>
        </div>
    </div>
    <div class="tour-img">
        <img [alt]="tour.name" src="https://material.angularjs.org/material2_assets/ngconf/Mal.png">
    </div>
  <div class="tour-img">
    <img [alt]="tour.name" #tourImage>
  </div>
    <div class="tour-text">
        <span class="tour-text-header">{{tour.name}}</span>
        <span class="tour-text-details">
                {{tour.description}}
            </span>
    </div>
</div>

