.tours-search-container{
   display: flex;
    align-items: flex-start;
}

.tours-list{
  margin: auto;
  flex:9;    
}

.tours-facets{ 
  flex:3;
}

@media screen and (max-width: 992px) {
    .tours-facets{
      display: none;
    }
}