<md-sidenav-layout fullscreen>
  <md-toolbar color="primary">
    <div class="toolbar">
      <button md-icon-button (click)="sidenav.open()">
        <md-icon>menu</md-icon>
      </button>
      <span class="banner">{{currentPageService.extractTitle()}}</span>
      <a md-icon-button  routerLink="/settings" class="settings" routerLinkActive="active">
        <md-icon>more_vert</md-icon>
      </a>

    </div>
  </md-toolbar>

  <md-sidenav #sidenav>
    <md-nav-list>
      <a md-list-item routerLink="/tours" routerLinkActive="active">
        <md-icon md-list-icon>theaters</md-icon>
        <span md-line>Virtualūs turai</span>
        <span md-line class="secondary">Pasivaikšiokite po muziejų</span>
      </a>
      <a md-list-item routerLink="/expos" routerLinkActive="active">
        <md-icon md-list-icon>collections</md-icon>
        <span md-line>Virtualios parodos</span>
        <span md-line class="secondary">Interaktyvūs pasakojimai ir eksponatų parodos</span>
      </a>
      <a md-list-item routerLink="/journeys" routerLinkActive="active">
        <md-icon md-list-icon>explore</md-icon>
        <span md-line>Interaktyvus maršrutai</span>
        <span md-line class="secondary">Interaktyvūs kultūriniai turizmo maršrutai</span>
      </a>

      <md-divider></md-divider>

      <a md-list-item routerLink="/settings" routerLinkActive="active">
        <md-icon md-list-icon>more_vert</md-icon>
        <span md-line>Nustatymai</span>
        <span md-line class="secondary">Įvairi demo konfigūracija</span>
      </a>
    </md-nav-list>
  </md-sidenav>
  <router-outlet></router-outlet>

</md-sidenav-layout>

